body {
  font-family: var(--bs-font-sans-serif);
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  /* color: #212529;
  -webkit-text-size-adjust: 100%; */
}

*,
::after,
::before {
  box-sizing: border-box;
}

.row {
  --bs-gutter-x: 1.5rem;
  --bs-gutter-y: 0;
  display: flex;
  flex-wrap: wrap;
  margin-top: calc(var(--bs-gutter-y) * -1);
  margin-right: calc(var(--bs-gutter-x) * -0.5);
  margin-left: calc(var(--bs-gutter-x) * -0.5);
}

#section-2 {
  color: white;
  position: relative;
  background: #0d4073;
  /* box-shadow: 0px -20px 0px 0px rgba(13, 64, 115, 0.35); */
  -webkit-box-shadow: 0px -20px 0px 0px rgba(13, 64, 115, 0.35);
  /* -moz-box-shadow: 0px -20px 0px 0px rgba(13, 64, 115, 0.35); */
  border-radius: 25px 25px 0 0;
  z-index: 1;
}

.container,
.container-fluid,
.container-lg,
.container-md,
.container-sm,
.container-xl,
.container-xxl {
  width: 100%;
  padding-right: var(--bs-gutter-x, 0.75rem);
  padding-left: var(--bs-gutter-x, 0.75rem);
  margin-right: auto;
  margin-left: auto;
}

.mt-5 {
  margin-top: 3rem !important;
}

#section-2 .sub-bg {
  background: url("images/global.png");
  background-size: 100%;
  background-position: bottom;
  background-repeat: no-repeat;
}

.mx-auto {
  margin-right: auto !important;
  margin-left: auto !important;
}

@media (min-width: 1200px) {
  .col-xl-7 {
    flex: 0 0 auto;
    width: 58.33333333%;
  }
}

@media (min-width: 1200px) {
  .col-xl-12 {
    flex: 0 0 auto;
    width: 100%;
  }
}

.text-center {
  text-align: center !important;
}

.py-5 {
  padding-top: 3rem !important;
  padding-bottom: 3rem !important;
}

.text-uppercase {
  text-transform: uppercase !important;
}

@media (min-width: 1200px) {
  .h3,
  h3 {
    font-size: 1.75rem;
  }
}

.h5,
h5 {
  font-size: 1.25rem;
}

.h1,
.h2,
.h3,
.h4,
.h5,
.h6,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin-top: 0;
  margin-bottom: 0.5rem;
  font-weight: 500;
  line-height: 1.2;
}

.pb-5 {
  padding-bottom: 3rem !important;
}
@media (min-width: 768px) {
  .col-md-3 {
    flex: 0 0 auto;
    width: 25%;
  }
}

@media (min-width: 768px) {
  .col-md-12 {
    flex: 0 0 auto;
    width: 100%;
  }
}

@media (min-width: 1200px) {
  .h1,
  h1 {
    font-size: 2.5rem;
  }
}

@media (min-width: 768px) {
  .col-md-12 {
    flex: 0 0 auto;
    width: 100%;
  }
}

@media (min-width: 1200px) {
  .h4,
  h4 {
    font-size: 1.5rem;
  }
}

@media (min-width: 992px) {
  .d-lg-block {
    display: block !important;
  }
}

@media (min-width: 768px) {
  .col-md-6 {
    flex: 0 0 auto;
    width: 50%;
  }
}

.center-image-section-2 {
  width: 100%;
}
img,
svg {
  vertical-align: middle;
}
/* 
@media (min-width: 1200px) {
  .col-xl-10 {
    flex: 0 0 auto;
    width: 83.33333333%;
  }
}

.pb-3 {
  padding-bottom: 1rem !important;
}
.pt-5 {
  padding-top: 3rem !important;
}

.site-dark-color {
  color: #1d305d !important;
}

.text-secondary {
  color: #6c757d !important;
}

.img-fluid {
  max-width: 100%;
  height: auto;
} */
