body {
  font-family: var(--bs-font-sans-serif);
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: #212529;
}

*,
::after,
::before {
  box-sizing: border-box;
}
#section-1 {
  background-image: url("images/Vector.png");
  background-size: 50%;
  background-position: top right;
  background-repeat: no-repeat;
}

.container-field {
  width: 100%;
  padding-right: var(--bs-gutter-x, 0.75rem);
  padding-left: var(--bs-gutter-x, 0.75rem);
  margin-right: auto;
  margin-left: auto;
}

.background-layer {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(
    180deg,
    #e5efff 0%,
    rgba(229, 239, 255, 0.262661) 83.7%,
    rgba(229, 239, 255, 0) 100%
  );
  z-index: -99;
}

.py-3 {
  padding-top: 1rem !important;
  padding-bottom: 1rem !important;
}

.row {
  --bs-gutter-x: 1.5rem;
  --bs-gutter-y: 0;
  display: flex;
  flex-wrap: wrap;
  margin-top: calc(var(--bs-gutter-y) * -1);
  margin-right: calc(var(--bs-gutter-x) * -0.5);
  margin-left: calc(var(--bs-gutter-x) * -0.5);
}

.mx-auto {
  margin-right: auto !important;
  margin-left: auto !important;
}

@media (min-width: 1200px) {
  .col-xl-11 {
    flex: 0 0 auto;
    width: 91.66666667%;
  }
}

.bg-transparent {
  background-color: transparent !important;
}
@media (min-width: 992px) {
  .navbar-expand-lg {
    flex-wrap: nowrap;
    justify-content: flex-start;
  }
}

.navbar {
  position: relative;
  display: flex;
  align-items: center;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
}

.navbar > .container-field {
  display: flex;
  flex-wrap: inherit;
  align-items: center;
  justify-content: space-between;
}

.text-end {
  text-align: right !important;
}

@media (min-width: 768px) {
  .col-md-6 {
    flex: 0 0 auto;
    width: 50%;
  }
}

.navbar-light .navbar-brand {
  color: rgba(0, 0, 0, 0.9);
}

.navbar-brand {
  width: 230px;
}

.navbar-brand {
  padding-top: 0.3125rem;
  padding-bottom: 0.3125rem;
  margin-right: 1rem;
  font-size: 1.25rem;
  text-decoration: none;
  white-space: nowrap;
}

.img-fluid {
  max-width: 100%;
  height: auto;
}

img,
svg {
  vertical-align: middle;
}

@media (min-width: 992px) {
  .navbar-expand-lg .navbar-collapse {
    display: flex !important;
    flex-basis: auto;
  }
}

.navbar-collapse {
  flex-grow: 1;
  align-items: center;
}

@media (min-width: 992px) {
  .col-lg-8 {
    flex: 0 0 auto;
    width: 66.66666667%;
  }
}

/* ------------------------<>------------------ */

@media (min-width: 992px) {
  .navbar-expand-lg .navbar-nav {
    flex-direction: row;
  }
}

@media (min-width: 992px) {
  .mb-lg-0 {
    margin-bottom: 0 !important;
  }
}
/* .mb-2 {
  margin-bottom: 0.5rem !important;
} */
.mx-4 {
  margin-right: 1.5rem !important;
  margin-left: 1.5rem !important;
}

.justify-content-around {
  justify-content: space-around !important;
}

.d-flex {
  display: flex !important;
}

.navbar-nav {
  /* display: flex; */
  /* flex-direction: column; */
  padding-left: 0;
  /* margin-bottom: 0; */
  list-style: none;
}
dl,
ol,
ul {
  margin-top: 0;
  /* margin-bottom: 1rem; */
}

@media (min-width: 992px) {
  .navbar-expand-lg .navbar-nav .nav-link {
    padding-right: 0.5rem;
    padding-left: 0.5rem;
  }
}

/* .nav-link {
  color: #1D305D !important;
} */

.nav-link {
  display: block;
  padding: 0.5rem 1rem;
  color: #1d305d !important;
  text-decoration: none;
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out,
    border-color 0.15s ease-in-out;
}

@media (min-width: 992px) {
  .col-lg-4 {
    flex: 0 0 auto;
    width: 33.33333333%;
  }
}

.align-items-center {
  align-items: center !important;
}

.justify-content-between {
  justify-content: space-between !important;
}

/* .d-flex {
  display: flex !important;
} */

@media (min-width: 992px) {
  .flex-lg-row {
    flex-direction: row !important;
  }
}

@media (min-width: 768px) {
  .justify-content-md-between {
    justify-content: space-between !important;
  }
}

.align-items-center {
  align-items: center !important;
}

.flex-gap > div {
  margin: 5px;
}

/* .flex-column {
  flex-direction: column !important;
} */
/* <-------------------------//----------------------------> */

[type="button"]:not(:disabled),
[type="reset"]:not(:disabled),
[type="submit"]:not(:disabled),
button:not(:disabled) {
  cursor: pointer;
}

.custom-btn-setting {
  border-radius: 20px;
}

.btn-outline-custom-1 {
  color: #1d305d;
  border-color: #1d305d;
}
.text-uppercase {
  text-transform: uppercase !important;
}
.px-4 {
  padding-right: 1.5rem !important;
  padding-left: 1.5rem !important;
}
.btn-group-sm > .btn,
.btn-sm {
  padding: 0.25rem 0.5rem;
  /* padding-right: 0.5rem;
  padding-left: 0.5rem; */
  font-size: 0.875rem;
  /* border-radius: 0.2rem; */
}
.btn {
  display: inline-block;
  font-weight: 400;
  line-height: 1.5;
  /* color: #212529; */
  text-align: center;
  text-decoration: none;
  vertical-align: middle;
  /* cursor: pointer; */
  /* -webkit-user-select: none;
  -moz-user-select: none; */
  user-select: none;
  /* background-color: transparent; */
  border: 1px solid transparent;
  /* border-top-color: transparent;
  border-right-color: transparent;
  border-bottom-color: transparent;
  border-left-color: transparent; */
  padding: 0.375rem 0.75rem;
  font-size: 1rem;
  /* border-radius: 0.25rem; */
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out,
    border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

.bd {
  border: 1px solid black;
}

.hamburger span {
  font-size: 30px;
  cursor: pointer;
  display: none;
}

@media only screen and (max-width: 700px) {
  .hamburger span {
    display: block;
  }
  .navbar-nav{
    flex-direction: column;
  }
}

[type="button"],
[type="reset"],
[type="submit"],
button {
  -webkit-appearance: button;
}

button,
input,
optgroup,
select,
textarea {
  margin: 0;
  font-family: inherit;
  /* font-size: inherit;
  line-height: inherit; */
}

.mt-2 {
  margin-top: 0.5rem !important;
}

@media (min-width: 1200px) {
  .col-xl-12 {
    flex: 0 0 auto;
    width: 100%;
  }
}

.ms-auto {
  margin-left: auto !important;
}

.align-items-center {
  align-items: center !important;
}

.d-flex {
  display: flex !important;
}

@media (min-width: 768px) {
  .col-md-5 {
    flex: 0 0 auto;
    width: 41.66666667%;
  }
}

@media (min-width: 1200px) {
  .h3,
  h3 {
    font-size: 1.75rem;
  }
}

/* .h3,
h3 {
  font-size: calc(1.3rem + 0.6vw);
} */

.h1,
.h2,
.h3,
.h4,
.h5,
.h6,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin-top: 0;
  margin-bottom: 0.5rem;
  font-weight: 500;
}

.light-1 {
  color: #94a2b3;
}
p {
  margin-top: 0;
  margin-bottom: 1rem;
}

.p-0 {
  padding: 0 !important;
}

.btn-warning {
  color: #000;
  background-color: #ffc107;
  border-color: #ffc107;
}

.br-1 {
  border-radius: 0.25rem;
}

.text-center {
  text-align: center !important;
}

.align-items-center {
  align-items: center !important;
}

.justify-content-center {
  justify-content: center !important;
}

.d-flex {
  display: flex !important;
}

.col-9 {
  flex: 0 0 auto;
  width: 75%;
}

.text-center {
  text-align: center !important;
}

.col-3 {
  flex: 0 0 auto;
  width: 21.5%;
}

.py-2 {
  padding-top: 0.5rem !important;
  padding-bottom: 0.5rem !important;
}

.text-end {
  text-align: right !important;
}
/* @media (min-width: 768px) {
  .col-md-6 {
    flex: 0 0 auto;
    width: 50%;
  }
} */

.hero-side-image {
  width: 90%;
}

:root {
  --bs-blue: #0d6efd;
  --bs-indigo: #6610f2;
  --bs-purple: #6f42c1;
  --bs-pink: #d63384;
  --bs-red: #dc3545;
  --bs-orange: #fd7e14;
  --bs-yellow: #ffc107;
  --bs-green: #198754;
  --bs-teal: #20c997;
  --bs-cyan: #0dcaf0;
  --bs-white: #fff;
  --bs-gray: #6c757d;
  --bs-gray-dark: #343a40;
  --bs-primary: #0d6efd;
  --bs-secondary: #6c757d;
  --bs-success: #198754;
  --bs-info: #0dcaf0;
  --bs-warning: #ffc107;
  --bs-danger: #dc3545;
  --bs-light: #f8f9fa;
  --bs-dark: #212529;
  --bs-font-sans-serif: system-ui, -apple-system, "Segoe UI", Roboto,
    "Helvetica Neue", Arial, "Noto Sans", "Liberation Sans", sans-serif,
    "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  --bs-font-monospace: SFMono-Regular, Menlo, Monaco, Consolas,
    "Liberation Mono", "Courier New", monospace;
  --bs-gradient: linear-gradient(
    180deg,
    rgba(255, 255, 255, 0.15),
    rgba(255, 255, 255, 0)
  );
}
